{% extends "diary/base.html" %}
{% load static %}

{% block content %}
    <!-- Diary -->
    <div class="row">
        <h3>{{ diary.date }}の日記</h3>
        <ul class="list-group">
            <li class="list-group-item">睡眠時間: {{ diary.hours_of_sleep }}</li>
            <li class="list-group-item">睡眠の質: {{ diary.sleep_quality }}</li>
            <li class="list-group-item">体重: {{ diary.weight }}</li>
            <li class="list-group-item">メモ: {{ diary.memo }}</li>
        </ul>

        <!-- Meal -->
        {% for meal in diary.meal_set.all %}
            <div class="col-6">
                <!-- photo -->
                <div class="card">
                    {% if meal.photo %}
                        <img src="{{ meal.photo.url }}" class="card-img-top" alt="{{ meal.meal_type }}">
                    {% else %}
                        <p>no image</p>
                    {% endif %}
                    <div class=" card-body">
                        <h5 class="card-title">{{ meal.get_meal_type_display }}</h5>
                        <table class="table table-bordered">
                            <tr>
                                <th>まめ</th>
                                <th>ごま</th>
                                <th>わかめ</th>
                                <th>野菜</th>
                                <th>さかな</th>
                                <th>きのこ</th>
                                <th>いも</th>
                                <th>生野菜</th>
                                <th>発酵食品</th>
                            </tr>
                            <tr>
                                <td>{{ meal.get_bean }}</td>
                                <td>{{ meal.get_sesame }}</td>
                                <td>{{ meal.get_seaweed }}</td>
                                <td>{{ meal.get_vegetable }}</td>
                                <td>{{ meal.get_fish }}</td>
                                <td>{{ meal.get_mushroom }}</td>
                                <td>{{ meal.get_potato }}</td>
                                <td>{{ meal.get_fresh_vegetable }}</td>
                                <td>{{ meal.get_fermented_food }}</td>
                            </tr>
                        </table>

                        <li>サプリ:
                            {% for supplement in meal.supplement.all %}{{ supplement.name }}{% if not forloop.last %},
                            {% endif %}{% endfor %}</li>
                        <li>メモ: {{ meal.memo }}</li>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-6 -->
        {% empty %}
            <p>この日はまだ食事を追加していません。</p>

        {% endfor %}
    </div> <!-- row -->
    <div class="button-container">
        <button type="button" class="btn btn-outline-warning"
                onclick="location.href={% url 'diary:update_diary' pk=diary.pk %}">
            日記編集
        </button>
        <button type="button" class="btn btn-outline-warning"
                onclick="location.href={% url 'diary:update_meal' pk=diary.pk %}">
            食事編集
        </button>
        <button type="button" class="btn btn-outline-warning"
                onclick="location.href={% url 'diary:create_meal' %}">
            食事追加
        </button>
        <button type="button" class="btn btn-outline-warning" onclick="location.href={% url 'diary:list' %}">
            一覧
        </button>
    </div> <!-- button-container -->
{#    </div>#}

{% endblock %}