{% extends "diary/base.html" %}
{% load static %}

{% block content %}
    <p id="index-p">
        {% if user.is_authenticated %}
            {{ now }}<br>
            {{ message }} {{ user.username }}さん
        {% endif %}
    </p>

    <img src="{% static "/diary/images/index.png" %}" alt="index" width="500" height="470">

    <p>
        <button type="button" class="btn btn--orange btn--radius" onclick="location.href={% url 'diary:mago' %}">
            <i class="fa-solid fa-file"></i> 腸活メモ
        </button>
    </p>

    {% if user.is_authenticated %}
        <p>
            <button type="button" class="btn btn--orange btn--radius"
                    onclick="location.href={% url 'diary:create_diary' %}">
                <i class="fa-solid fa-check"></i> 日記登録
            </button>
            <button type="button" class="btn btn--orange btn--radius" onclick="location.href={% url 'diary:list' %}">
                <i class="fa-regular fa-pen-to-square"></i> ごはん一覧
            </button>
        </p>
    {% endif %}

{% endblock %}
