{#{% extends "base.html" %}#}
{% load static %}

<head>
    <style>
        #bigimg {
            max-width: 35%;
            height: auto;
            padding: 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            max-width: 50%;
            width: auto;
        }

        .thumb {
            width: 100%;
            height: auto;
            margin: 5px;
        }
    </style>
    {#    <link rel="stylesheet" href="{% static 'css/mago.css' %}">#}
</head>

{% block content %}
    <section>
        <h2>まごはやさしい🫘🥦</h2>
        <div class="center">
            <div>
                <img src="{% static "/diary/images/mago1.png" %}" id="bigimg">
            </div>
            <ul>
                <li><img src="{% static "/diary/images/mago1.png" %}" class="thumb"
                         data-img="/static/diary/images/mago1.png"></li>
                <li><img src="{% static "/diary/images/mago2.png" %}" class="thumb"
                         data-img="/static/diary/images/mago2.png"></li>
                <li><img src="{% static "/diary/images/mago3.png" %}" class="thumb"
                         data-img="/static/diary/images/mago3.png"></li>
                <li><img src="{% static "/diary/images/mago4.png" %}" class="thumb"
                         data-img="/static/diary/images/mago4.png"></li>
                <li><img src="{% static "/diary/images/mago5.png" %}" class="thumb"
                         data-img="/static/diary/images/mago5.png"></li>
                <li><img src="{% static "/diary/images/mago6.png" %}" class="thumb"
                         data-img="/static/diary/images/mago6.png"></li>
                <li><img src="{% static "/diary/images/mago7.png" %}" class="thumb"
                         data-img="/static/diary/images/mago7.png"></li>
                <li><img src="{% static "/diary/images/mago8.png" %}" class="thumb"
                         data-img="/static/diary/images/mago8.png"></li>
            </ul>
        </div>
    </section>

    <script>
        const thumbs = document.getElementsByClassName("thumb");
        for (let i = 0; i < thumbs.length; i++) {
            thumbs[i].addEventListener("click", function () {
                let bigimg = document.getElementById("bigimg");
                bigimg.src = this.getAttribute("data-img");
            });
        }
    </script>
{% endblock %}
