{% extends "diary/base.html" %}
{% load static %}

{% block content %}
    <section>
        <h2>まごはやさしい🫘🥦</h2>
        <div class="center">
            <div>
                <img src="{% static "/diary/images/mago1.png" %}" id="bigimg">
            </div>
            <ul id="mago-ul">
                <li><img src="{% static "/diary/images/mago1.png" %}" class="thumb"
                         data-img="/static/diary/images/mago1.png"></li>
                <li><img src="{% static "/diary/images/mago2.png" %}" class="thumb"
                         data-img="/static/diary/images/mago2.png"></li>
                <li><img src="{% static "/diary/images/mago3.png" %}" class="thumb"
                         data-img="/static/diary/images/mago3.png"></li>
                <li><img src="{% static "/diary/images/mago4.png" %}" class="thumb"
                         data-img="/static/diary/images/mago4.png"></li>
                <li><img src="{% static "/diary/images/mago5.png" %}" class="thumb"
                         data-img="/static/diary/images/mago5.png"></li>
                <li><img src="{% static "/diary/images/mago6.png" %}" class="thumb"
                         data-img="/static/diary/images/mago6.png"></li>
                <li><img src="{% static "/diary/images/mago7.png" %}" class="thumb"
                         data-img="/static/diary/images/mago7.png"></li>
                <li><img src="{% static "/diary/images/mago8.png" %}" class="thumb"
                         data-img="/static/diary/images/mago8.png"></li>
            </>
        </div>
    </section>

    <script>
        const thumbs = document.getElementsByClassName("thumb");
        for (let i = 0; i < thumbs.length; i++) {
            thumbs[i].addEventListener("click", function () {
                let bigimg = document.getElementById("bigimg");
                bigimg.src = this.getAttribute("data-img");
            });
        }
    </script>
{% endblock %}
