{% extends "base.html" %}
{% load static %}
{% block content %}
    <div style="text-align: center;">
        🌸word一覧🌸
        <ul class="list-group list-group-flush">
            {% for phrase in object_list %}
                <!-- リスト項目のみループ内で作成 -->
                <li class="list-group-item">
                {{ phrase.text }}
            {% empty %}
                このカテゴリーにはまだ単語が登録されていません。
            {% endfor %}
        </ul>


        <img src="{% static "gratitude/images/obu_bouquet.png" %}" alt="okay" class="img-fluid"
             style="padding: 20px; max-width: 40%; height: auto;">
        <br>
        <button type="button" class="btn btn-outline-warning" onclick="location.href='{% url 'gratitude_category_select' %}'">
            一覧へ戻る
        </button>

        {#        <button type="button" class="btn btn-outline-warning" onclick="location.href='{% url 'gratitude:gratitude_category_select' %}'">カテゴリー選択に戻る</button>#}
    </div>
{% endblock %}
